<?php 
	include('header.php');
?>

<!DOCTYPE html>
<html>
    <title>Profile</title>
<head>
	<meta charset="utf-8">
	<title>User List</title>
</head>
<body>

	

	<table border="1" align="center">
		<tr>
			
			<th>USERNAME</th>
			<th>PASSWORD</th>
			<th>EMAIL</th>
			<th>ACTION</th>
		</tr>
		<tr>
			
			<td>rabbi</td>
			<td>123</td>
			<td>fajlay203.fr@gmail.com</td>
			<td>
				<a href="edit.php?id=1"> EDIT </a> |
				
			</td>

		</tr>
		<tr>
			
			<td>fajlay</td>
			<td>123</td>
			<td>fajlay@gmail.com</td>
			<td>
				<a href="edit.php?id=2"> EDIT </a> |
				
			</td>
		</tr>
		
	</table>
	<center>
		<a href="../views/home.php">Back </a> |
		<a href="../controller/logout.php">logout </a>
	</center>
</body>
</html>